@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

body {
	font-family: "NanumSquare", sans-serif;
	background: #FAFAFA;
	font-size: 18px;
	color: #212121;
}

#rule {
	width: 350px; 
    margin: 0px auto; 
	font-size:25px;
    position: relative; 
    z-index: 10; 
	left: -340px;
    top: 150px;
    height: 600px; 
}

#notice {
	width: 350px; 
    margin: 0px auto; 
	font-size:25px;
    position: relative; 
    z-index: 10; 
	left: 600px;
    top: -77px;
}

#notice2 {
	width: 1050px; 
    margin: 0px auto; 
	font-size:25px;
    position: relative; 
    z-index: 10; 
	left: -5px;
    top: 150px;
}

#hwinfo {
	width: 350px; 
    margin: 0px auto; 
	font-size:25px;
    position: relative; 
    z-index: 10; 
	left: -680px;
    top: 100px;
}

#chat {
	width: 350px; 
    margin: 0px auto; 
	font-size:25px;
    position: relative; 
    z-index: 10; 
	left: 600px;
    top: -76px;
}

#nav {
  width: 100%;
}
.nav {
  margin-top: 96px;
  padding: 16px;
  text-align: center;
}

.navTitle {
  font-size: 64px;
  font-weight: bold;
  transition: 0.5s;
  color: #9c9b9b;
}

.navTitle:hover {
  background: -webkit-linear-gradient(right, #00B0FF, #00E5FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.categoryList li,
.searchResults li,

.abox {
	text-align: center;
  padding:25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}



.categoryList,
.searchResults {
  margin: 16px 0;
}

.categoryList li,
.searchResults li,

.abox {
  border: 1px solid #dedede;
  border-radius: 15px;
  background: #fff;
}

.categoryList li,
.searchResults li,

.abox  {
  list-style: none; margin: 4px 0;
  transition: 0.5s;
}

.categoryList li:hover,
.searchResults li:hover,
.postsList li:hover,
.btn:hover {
  border: 1px solid #00BCD4;
  color: #00BCD4;
  box-shadow: 0 2px 4px 0 #80DEEA;
}

.categoryTitle,


.footer {
  margin-top: 64px;
  margin-bottom: 32px;
  text-align: center;
}

.footTitle {
  font-size: 18px;
}

.footDesc {
  color:#818181;
  font-size: 14px;
}

.footDesc a {
  color:#818181;
}

.footDesc a:hover {
  color:#00BCD4;
  transition: 0.5s;
}
